.sidebar {
  background-color: #1c1c2d;
}

.sidebar-logo,
.sidebar-logo-toggle {
  margin-bottom: 40px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

.sidebar-menu,
.sidebar-menu-toggle {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li,
.sidebar-menu-toggle li {
  padding: 0px 20px;
  margin: 30px 0;
  /* background-color: #2c2c3a; */
  /* border-radius: 8px; */
  cursor: pointer;
  text-align: center;
  /* color: #aaaaaa; */
  /* font-size: 16px; */
}

.sidebar-menu li.active,
.sidebar-menu li:hover,
.sidebar-menu-toggle li.active,
.sidebar-menu-toggle li:hover {
  /* background-color: #44445a; */
  /* color: #ffffff; */
  border-left: 4px solid #7292ff;
}

.sidebar-menu li svg,
.sidebar-menu-toggle li svg {
  color: #ababad;
}

.sidebar-menu li.active svg,
.sidebar-menu-toggle li.active svg {
  color: #7292ff;
}

.sidebar-toggle {
  padding: 20px 20px 10px 20px;
}
